@{
    ViewData["Title"] = "HelpLife - Sua Jornada de Saúde Personalizada";
}

<div>
    <h1>Bem-vindo ao HelpLife</h1>
    <p>Sua Jornada de Saúde Personalizada</p>
</div>

<div>
    <h2>Monitoramento Contínuo, Cuidado Pessoal</h2>
    <p>O HelpLife é a sua solução dedicada para acompanhar sua saúde 24 horas por dia, 7 dias por semana. Nosso compromisso é proporcionar proteção e prevenção, mantendo você seguro e saudável.</p>
</div>

<div>
    <h3>Rastreamento Ininterrupto</h3>
    <ul>
        <li>Monitoramento constante para garantir sua tranquilidade.</li>
        <li>Alertas instantâneos em caso de qualquer sinal de preocupação.</li>
    </ul>
</div>

<div>
    <h3>Conexão com Profissionais Médicos</h3>
    <ul>
        <li>Acesso direto a médicos qualificados via chat.</li>
        <li>Escolha o profissional que melhor se adequa às suas necessidades.</li>
    </ul>
</div>

<div>
    <h3>Cuidado Personalizado e Preventivo</h3>
    <ul>
        <li>Planos de saúde adaptados às suas exigências individuais.</li>
        <li>Orientações personalizadas para promover um estilo de vida saudável.</li>
    </ul>
</div>

<div>
    <h3>Priorizando Seu Bem-Estar</h3>
    <p>No HelpLife, você está no centro de nossas atenções. Nossa plataforma abrangente oferece um cuidado exclusivo para que você viva com total segurança e tranquilidade.</p>
</div>

<div>
    <p>Junte-se à Revolução do Cuidado. Junte-se ao HelpLife.</p>
</div>